:root{
  --text-color:#1E1E1E;
  --accent:#E58411;
  --text-muted:#8D8D8D;
  --text-card-darkBlue:#0D1B39;

  --header-text-color:#FFFFFF;


  --ui-orange:#E58411;
  --ui-beruza:#00D6C9;
  --ui-gray:#7C7C7C;
  --ui-darkBlue:#0D1B39;

  --footer-text-color:#FFFFFF;
  --footer-accent:#F6973F;
  --footer-bg:#2D2F33;


  --font-main:'Gilroy', sans-serif;
  --font-cards:'Inter', sans-serif;
  --font-footer-accent:'DM Sans', sans-serif;
}
